@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1172px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/tittles';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/order';
@import 'blocks/form';
