.footer {
    background: #3D4050;
    padding: 30px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__descr {
        width: 30%;
    }
    &__payment {
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        svg {
            margin-right: 10px;
        }
    }
    &__payment-system {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    &__contacts {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    &__contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        svg {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 38px;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
        &:active {
            color: $main-color;
            text-decoration: none;
        }
    }
}