@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        padding: 25px 0;
    }
    .promo {
        min-height: 774px;
        padding: 180px 0 130px 0;
        &__content {
            width: 750px;
        }
    }
    .order {
        min-height: 810px;
        padding: 110px 0;
        &__list {
            margin-top: 60px;
        }
        &__item {
            width: 160px;
            height: 155px;
        }
        &__round {
            width: 95px;
            height: 95px;
            &:nth-child(n+1) {
                &::before {
                    content: "....";
                    left: -111%;
                    font-size: 44px;
                }
            }
        }
        &__icon {
            width: 50px;
        }
        &__descr {
            font-size: 15px;
            line-height: 18px;
        }
    }
    .form {
        &__input {
            width: 300px;
            height: 40px;
            padding: 10px 10px;
        }
        &__select {
            width: 300px;
            height: 40px;
            padding: 10px 10px;
        }
        &__input-button {
            width: 300px;
            height: 40px;
            svg {
                height: 18px;
            }
        }
        &__input-button-text {
            font-size: 13px;
            line-height: 15px;
        }
        &__slider-wrapper {
            width: 630px;
            height: 40px;
        }
        &__slider-descr {
            font-size: 16px;
            line-height: 18px;
        }
        &__slider {
            &::-webkit-slider-thumb, &::-moz-range-thumb {
                width: 18px;
                height: 18px;
            }
        }
    }
    .button_submit {
        width: 300px;
        height: 40px;
    }
    .footer {
        font-size: 12px;
        &__contact {
            &:last-child {
            margin-left: 22px;
            }
        }
        &__link {
            font-size: 12px;
        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        padding: 20px 0;
        &__logo {
            font-size: 24px;
            line-height: 28px;
        }
    }
    .menu {
        &__item {
            padding-left: 40px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .tittle {
        &_main {
        font-size: 40px;
        line-height: 48px;
        }
        &_section {
            font-size: 32px;
            line-height: 36px;
        }
    }
    .promo {
        min-height: 665px;
        padding: 140px 0 150px 0;
        &__content {
            width: 630px;
        }
        &__descr {
            font-size: 18px;
            line-height: 20px;
            margin-top: 40px;
        }
        &__item {
            font-size: 18px;
            line-height: 20px;
        }
        &__buttons {
            margin-top: 50px;
        }
    }
    .button {
        width: 175px;
        height: 40px;
        font-size: 12px;
        &_about {
            margin-left: 20px;
        }
        &_submit {
            width: 300px;
            height: 40px;
            font-size: 13px;
        }
    }
    .order {
        padding: 75px 0;
        &__subtittle {
            font-size: 17px;
            line-height: 21px;
        }
        &__list {
            margin-top: 50px;
        }
        &__form {
            margin-top: 70px;
        }
    }
    .form {
        &__wrapper {
            gap: 25px;
        }
        &__slider-wrapper {
            order: 5;
            flex-grow: 2;
        }
        &__input-button {
            order: 4;
        }
    }
    .footer {
        padding: 10px 0;
        &__wrapper {
            flex-direction: column;
        }
        &__descr {
            width: 50%;
            text-align: center;
            padding: 5px 0;
        }
        &__payment {
            width: 50%;
            border: none;
            padding: 5px 0;
        }
        &__contacts {
            width: 50%;
            justify-content: space-around;
            padding: 5px 0;
        }
        &__contact {
            &:last-child {
                margin-left: 0;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}