.order {
    min-height: 920px;
    padding: 121px 0 151px;
    background: url('../img/order_bg.jpg') center (center/cover) no-repeat;
    &__subtittle {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #BBBBBB;
        margin-top: 30px;
        text-align: center;
    }
    &__list {
        margin-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 30px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
            li:nth-child(n+2)::before {
                content: '.....';
                position: absolute;
                letter-spacing: 14px;
                color: #C4C4C4;
                left: -34%;
                font-size: 50px;
            } 
    }
    &__item {
        position: relative;
        width: 209px;
        height: 164.37px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
        padding: 0 10.5px;   
    }
    &__round {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
        width: 100px;
        height: 100px;
        background-color: $main-color;
        border-radius: 100%;
        border: 5px solid #286690;
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        height: 44.37px;
    }
    &__form {
        margin-top: 80px;
    }
}