.tittle {
    text-transform: uppercase;
    span {
        color: $main-color;
    }
    &_main {
        color: #000000;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        width: 780px;
    }
    &_section {
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
        text-align: center;
    }
}